* {
    margin: 0;
    padding: 0;
  }

h1 {
    font-size: 4em;
    text-align: center;
    margin: 5% 5% 4% 5%;
}

h2 {
    font-size: 2em;
    text-align: center;
}

#login {
    text-align: center;
    margin: 5% 20% 5% 20%;
}

.container {
    margin: 5%;
}

.inner-container {
    padding: 3% 5%;
}

.form-check {
    margin: 2% 0 2%;
}