* {
    margin: 0;
    padding: 0;
  }

body {
    background: rgb(223, 223, 226);
}

h1 {
    font-size: 4em;
    text-align: center;
    margin: 5% 5% 4% 5%;
}

h2 {
    font-size: 2em;
    text-align: center;
}

#login {
    text-align: center;
    margin: 5% 20% 5% 20%;
}

.container {
    margin: 5%;
}

.inner-container {
    padding: 3% 5%;
    background: white;
}

.container-reporte {
    margin: 0px auto;
    border: 1px solid lightgray;
    width: 80%;
    height: 600px;
    text-align: center;
}

.form-check {
    margin: 2% 0 2%;
}

.container-btn {
    text-align: center;
}